
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/Osprey/.vs/*
library/Osprey/Osprey/bin/*
library/Osprey/Osprey/obj/*

# ignore PowerShell Studio MetaData
Osprey/Osprey.psproj
Osprey/Osprey.psproj.bak
Osprey/Osprey.psprojs
Osprey/Osprey.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*